{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Classy Offline Donations</h1>
            <p>TODO</p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <ul>
                    <li><a href="/core/donation">Record Donation</a></li>
                    <li><a href="/core/enable-user">Enable User</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}