{% extends "core/base.html" %}
{% load bootstrap_template_tags %}

{% block title %}Login :: Classy Offline Donations{% endblock %}

{% block content %}
    <div class="container">
        <form action="/login" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-xs-6 col-sm-offset-2 col-sm-4">
                    {% form_group form.email %}
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    {% form_group form.password %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-sm-offset-2 col-sm-4">
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}