{% extends "core/base.html" %}
{% load bootstrap_template_tags %}

{% block title %}New Password :: Classy Offline Donations{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-xs-6 col-sm-offset-2 col-sm-4">
                {% form_group form.old_password %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-offset-2 col-sm-4">
                {% form_group form.new_password1 %}
            </div>
            <div class="form-group col-xs-6 col-sm-4">
                {% form_group form.new_password2 %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}